---
layout: default
title: Locations
---
<div class="home">
  <div class="flexbin">
    {% assign count = site.locations.size %}
    {% assign locations = site.locations | sample:count %}
    {% for location in locations %}
      <a class="location location-link-image" id="{{ forloop.index }}" href="/locations/{{ location.namePath }}">

        <div
          class="image-container {% if forloop.index < 9 %}active-picture{% endif %} {% if forloop.index > 8 %}lazy-picture{% endif %}"
          data-large="/images/full/{{ location.indexImagePath }}"
        >
          <img class="placeholder" src="/images/blur/{{ location.indexImagePath }}" class="img-small">
        </div>

        <span class="center title {{ location.indexImageClass }}">{{ location.title }}</span>
      </a>
    {% endfor %}
  </div>
</div>
