.nft-body {
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  overscroll-behavior-y: contain; // prevent refresh
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;

  #blurable {
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.nft-page {
  padding: 25px 5px 0 5px;

  .nft-title {
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    width: 100%;
  }

  .nft-container {
    opacity: 1;

    .options {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.for-display {
      position: relative;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      pointer-events: none;

      .cube {
        margin-top: 25px;
      }
    }

    &.hide {
      opacity: 0;
    }

    &.for-display {
      margin-bottom: 125px;
    }
  }
}

#nft-image-container {
  height: 100%;
  width: 100%;
}

.story-details-container {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 0 25px;
  flex-direction: column;

  .title {
    display: block;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
  }
}

.download-full {
  -moz-appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-appearance: none;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  appearance: none;
  background-color: var(--white) !important;
  border-radius: 0;
  border: 1px solid var(--black);
  box-shadow: inset 0 0 0 1px #36383c;
  color: var(--black) !important;
  cursor: pointer;
  display: block;
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 25px auto;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  white-space: nowrap;

  &:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
  }
}

.story {
  max-width: 60%;
  max-height: 30%;
  text-align: justify;
  font-family: 'poppins';
  margin: 0 auto;

  .story-image {
    cursor: pointer;
    float: left;
    height: 30%;
    margin-right: 20px;
    margin-top: 7px;
    max-width: 30%;

    &.right {
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }

    img {
      border-radius: 2%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 0px 22px -10px var(--black);
    }
  }

  .encrypted-image-container {
    height: 150px;
    width: 100%;
    max-width: 200px;
  }

  .encrypted-image {
    min-height: 150px;
    margin-right: 15px;
    min-height: initial;
    height: 0 !important;
    width: 0;
    margin: 0;
  }
}

.encrypt {
  font-weight: 200;

  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.details {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 25px;
  max-width: 100%;

  .details-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .encrypt {
      overflow: hidden;
    }

    .camera-text {
      font-family: 'poppins';
    }

    .camera-icon {
      height: 24px;
      width: 24px;
      background: var(--black);
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.mini {
    padding: 5px 0 20px 0;
  }
}

.aperture {
  -webkit-mask: url(/assets/icons/aperture.svg) no-repeat center;
  mask: url(/assets/icons/aperture.svg) no-repeat center;
}

.exposure {
  -webkit-mask: url(/assets/icons/exposure4.svg) no-repeat center;
  mask: url(/assets/icons/exposure4.svg) no-repeat center;
}

.iso {
  -webkit-mask: url(/assets/icons/iso2.svg) no-repeat center;
  mask: url(/assets/icons/iso2.svg) no-repeat center;
}

.length {
  -webkit-mask: url(/assets/icons/length.svg) no-repeat center;
  mask: url(/assets/icons/length.svg) no-repeat center;
}

.camera {
  -webkit-mask: url(/assets/icons/camera.svg) no-repeat center;
  mask: url(/assets/icons/camera.svg) no-repeat center;
}

.lens {
  -webkit-mask: url(/assets/icons/lens.svg) no-repeat center;
  mask: url(/assets/icons/lens.svg) no-repeat center;
}

.date {
  -webkit-mask: url(/assets/icons/date2.svg) no-repeat center;
  mask: url(/assets/icons/date2.svg) no-repeat center;
}

.location-map {
  -webkit-mask: url(/assets/icons/location6.svg) no-repeat center;
  mask: url(/assets/icons/location6.svg) no-repeat center;
}

.trigger {
  position: absolute;
  top: 0;
}

.nighttime {
  .camera-icon {
    background: var(--white) !important;
  }

  .download-full {
    background-color: var(--black) !important;
    color: var(--white) !important;
    border: 1px solid var(--white);

    &:hover {
      background-color: var(--white) !important;
      color: var(--black) !important;
      box-shadow: none;
    }
  }
}

#nftImageModal {
  .slide {
    display: block;

    .image-modal-container {
      max-width: 40%;

      img {
        max-width: calc(100% - 6px);
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .story-details-container {
    padding: 0 25px;
    flex-direction: column;

    .story {
      width: 100%;
      max-width: 100%;

      .story-image {
        max-width: 45%;
      }
    }

    .details {
      padding: 20px 0;
    }
  }

  #nftImageModal {
    .slide {

      .image-modal-container {
        width: 80%;
        max-width: 80%;
      }
    }
  }
}
