.nft-body {
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  overscroll-behavior-y: contain; // prevent refresh
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;

  #blurable {
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.nft-page {
  padding: 25px 5px 0 5px;

  .nft-title {
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 100;
    text-align: center;
  }

  .nft-container {
    opacity: 1;

    .options {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.for-display {
      position: relative;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;

      .cube {
        margin-top: 25px;
      }
    }

    &.hide {
      opacity: 0;
    }
  }

  #nft-image-container {
    border-radius: 5px;
    display: inline-block;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

