:root {
  --main-width: 200px;
  --main-height: 250px;
  --side-height: 40px;
  --side-height-half: var(--side-height) / 2;
  --shadow-color: #939393;
}

.nft-body {
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  overscroll-behavior-y: contain; // prevent refresh
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;

  #blurable {
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.nft-page {
  .nft-title {
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 100;
    text-align: center;
  }

  .nft-container {
    position: relative;

    .options {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #nft-image-container {
    border-radius: 5px;
    display: inline-block;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --main-width: 200px;
    --main-height: 250px;
  }
}

// .sparkler-light {
//   position: absolute;
//   width: var(--main-width);
//   height: var(--main-height);
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: sparkler-light-anim 20s infinite;

//   &::after {
//     content: '';
//     border-radius: 50%;
//     width: 6rem;
//     height: 6rem;
//     position: absolute;
//     left: 35%;
//     top: 35%;
//     background-color: transparent;
//     box-shadow: 0px 0px 130px 85px var(--black);
//     animation: sparkler-light-pulsating 2s infinite linear;
//   }
// }

// .spark {
//   top: 50%;
//   left: 50%;
//   position: absolute;
//   transform: rotate(var(--spark-rotate));
// }

// .spark::after {
//   content: '';
//   display: block;
//   position: absolute;
//   bottom: 0;
//   width: 2px;
//   height: 135px;
//   border-radius: 0.1rem;
//   opacity: 0;
//   background-color: var(--black)94;
//   transform-origin: bottom center;
//   animation: sparkler-sparkle 0.5s infinite linear;
//   animation-delay: var(--spark-delay);
// }

// @keyframes sparkler-light-anim {
//   0%   {
//     bottom: 11.5rem
//   }
//   100% {
//     bottom: 1.5rem;
//   }
// }

// @keyframes sparkler-light-pulsating {
//   0%   {
//     transform: scale(1);
//   }
//   25%   {
//     transform: scale(1.1);
//   }
//   75%   {
//     transform: scale(0.9);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes sparkler-sparkle {
//   0%   {
//     transform: translateY(-0.5rem) scaleY(0.25);
//     opacity: 0;
//   }
//   10%   {
//     transform: translateY(-1rem) scaleY(0.5);
//     opacity: 0.35;
//   }
//   30%   {
//     transform: translateY(-2rem) scaleY(0.5);
//     opacity: 0.7;
//   }
//   50% {
//     transform: translateY(-4rem) scaleY(1.5);
//     opacity: 0.7;
//   }
//   51% {
//     opacity: 0;
//     transform: translateY(-4rem) scaleY(1);
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(0) scaleY(0.25);
//   }
// }

// #blurable.nighttime {
//   .spark::after {
//     background-color: var(--white)b0;
//   }

//   .sparkler-light::after {
//     box-shadow: 0px 0px 100px 40px var(--white);
//   }
// }

// .spark-hidden .spark{
//   display: none !important;
// }

// .hidden-after::after {
//   display: none !important;
// }

// .no-shadow {
//   box-shadow: none !important;
// }

