@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0,0,0,0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.65,0,.34,1);
  z-index: -1;
}

.trigger-animation {
  align-items: center;
  background: transparent;
  border-radius: 100%;
  border: none;
  bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.75s ease;
  width: 30px;

  &::after {
    @include rings(2s, 0s);
  }

  &::before {
    @include rings(2s, 0.5s);
  }

  &:hover {
    background: #00000026;
  }
}

.invisible {
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}

.nighttime {
  .trigger-animation:before, .trigger-animation:after {
    border: 8px solid rgba(256, 256, 256, 0.15);
  }
}
