<div id="footer-header">
  <h1><strong>Photography by</strong> Fabian Rydel</h1>
  <nav>
    <ul>
      <li><span id="#about" onclick="toggleFooter()" class="about icon fa-info-circle">About</span></li>
    </ul>
  </nav>
</div>

<div id="footer-background" onclick="toggleFooter()"></div>
<footer id="footer" class="footer">
  <div class="inner split">
    <div>
      <section class="footer-info">
        <img class="profile" src="/images/IMG_0773.jpg">
        <div class="info">
          <h2>Hey there, my name is Fabian</h2>
          <p>I am a software developer who loves to travel, so I combine both and travel while working remotely, which has led me to discover a passion for travel photography along the way. Here's where I share the images I've captured during my travels.</p>

          <section class="follow-section follow-section-big">
            <h2 class="follow-me">Follow me on</h2>
            <ul class="icons">
              <a href="https://www.instagram.com/fabi.rydel" class="instagram-icon">
                <img class="instagram-image instagram-image-dark" src="/images/instagram_icon.png">
                <img class="instagram-image instagram-image-light" src="/images/instagram_icon_white.png">
              </a>
            </ul>
          </section>
          <section class="follow-section follow-section-big">
            <h2 class="get-in-touch">email me at</h2>
            <div class="or-at">
              <span class="email">fabirydel@gmail.com</span>
            </div>
          </section>
        </div>
      </section>
      <section class="follow-section follow-section-small">
        <h2 class="follow-me">Follow me on</h2>
        <ul class="icons">
          <a href="https://www.instagram.com/fabi.rydel" class="instagram-icon">
            <img class="instagram-image instagram-image-dark" src="/images/instagram_icon.png">
            <img class="instagram-image instagram-image-light" src="/images/instagram_icon_white.png">
          </a>
        </ul>
      </section>
      <section class="follow-section follow-section-small">
        <h2 class="get-in-touch">email me at</h2>
        <div class="or-at">
          <span class="email">fabirydel@gmail.com</span>
        </div>
      </section>
    </div>
  </div>
  <a class="close cursor icon close-button" onclick="toggleFooter()"></a>
</footer>
