<div id="footer-header">
  <h1><strong>Photography by</strong> Fabian Rydel</h1>
  <nav>
    <ul>
      <li><span id="#about" onclick="expandFooter()" class="about icon fa-info-circle">About</span></li>
    </ul>
  </nav>
</div>

<div id="footer-background" onclick="expandFooter()"></div>
<footer id="footer" class="footer">
  <div class="inner split">
    <div>
      <section class="footer-info">
        <img class="profile" src="/images/IMG_0773.jpg">
        <div class="info">
          <h2>Hey there, my name is Fabian</h2>
          <p>I am a software developer who loves to travel, so I combine both and travel while working remotely, which has led me to discover a passion for travel photography along the way. Here's where I share the images I've captured during my travels.</p>
        </div>
      </section>
<!--         <section>
        <h2 class="follow-me">Follow me on</h2>
        <ul class="icons">
            <a href="https://www.instagram.com/fabirydel" class="icon fa-instagram">
              <span class="label">Instagram</span>
            </a>
        </ul>
      </section> -->
    </div>
    <div>
      <section>
        <h2 class="get-in-touch">Get in touch</h2>
        <div class="or-at">
          <span>at </span><span class="email">fabirydel@gmail.com</span><span>, or down here<a class="icon fa fa-level-down-alt"></a></span>
        </div>
        <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeUV_hcaW3vODbQe8G9tBt5AGaM8DltX3oIToG9aq2khvHkQQ/formResponse?" target="hidden_iframe" onsubmit="submitForm()">
          <div class="name-email">
            <div class="field half first">
              <input type="text" name="entry.1666646602" id="entry.1666646602" onchange="inputUpdated()" placeholder="Name"/>
            </div>
            <div class="field half right">
              <input type="text" name="entry.739886106" id="entry.739886106" onchange="inputUpdated()" placeholder="Email"/>
            </div>
          </div>
          <div class="field">
            <textarea name="entry.628106078" id="entry.628106078" rows="4" onchange="inputUpdated()" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li class="btn-container"><input disabled class="btn" type="submit" value="Send" id="submit" class="special"/></li>
          </ul>
          <span id="confirmation">Message sent!</span>
        </form>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>

      </section>
    </div>
  </div>
  <a class="close cursor icon fa fa-times" onclick="expandFooter()"></a>
</footer>
