<div id="myLandscapeModal" class="modal" onclick="closeModal('myLandscapeModal')">
  <a class="close cursor icon close-button" onclick="closeModal('myLandscapeModal')"></a>
  <div class="modal-content">
    {% for image_path in page.images %}
      <div class="slide">
        <img src="/images/full/{{ image_path }}" onclick="ignore(event)" class="center">
      </div>
    {% endfor %}

    <a class="prev icon fa-chevron-left" onclick="plusSlides(event, -1)"></a>
    <a class="next icon fa-chevron-right" onclick="plusSlides(event, 1)"></a>
  </div>
</div>
