<div id="myPortfolioModal" class="modal" onclick="closeModal('myPortfolioModal')">
  <a class="close cursor icon close-button" onclick="closeModal('myPortfolioModal')"></a>
  <div class="modal-content">
    {% for image in site.data.portfolio %}
      <div class="slide">
        <div class="image-modal-container center">
          <div class="modal-text-container text-container modal-text-container-dummy">
            <span class="photo-title">{{ image.title }}</span>
            <a href="/locations/{{ image.location }}" class="photo-place-link">
              <span class="photo-title photo-place">{{ image.place }}</span>
            </a>
            <span class="photo-title photo-place">, {{ image.country | capitalize }}</span>
            <a href="/countries/{{ image.country }}" class="photo-place-country">
              <img src="/images/flags/{{ image.country }}.png" class="country-flag">
            </a>
          </div>

          <img src="/images/full/{{ image.path }}" onclick="ignore(event)">

          <div class="modal-text-container text-container">
            <span class="photo-title">{{ image.title }}</span>
            <a href="/locations/{{ image.location }}" class="photo-place-link">
              <span class="photo-title photo-place">{{ image.place }}</span>
            </a>
            <span class="photo-title photo-place">, {{ image.country | capitalize }}</span>
            <a href="/countries/{{ image.country }}" class="photo-place-country">
              <img src="/images/flags/{{ image.country }}.png" class="country-flag">
            </a>
          </div>
        </div>
      </div>
    {% endfor %}

    <a class="prev icon fa-chevron-left" onclick="plusSlides(event, -1)"></a>
    <a class="next icon fa-chevron-right" onclick="plusSlides(event, 1)"></a>
  </div>
</div>
