<div class="gallery-column gallery-column-landscape column-full">
  {% assign image_index = 0 %}
  {% for image_path in page.images %}
    {% assign mod2 = image_index | modulo: 2 %}
    {% if mod2 == 0 %}

      <div class="photo-container photo-container-landscape photo-container-left">
        <img class="photo photo-landscape" src="/images/full/{{ image_path }}" onclick="openModal({{ image_index }}, 'myLandscapeModal')" />
      </div>

    {% endif %}
    {% assign image_index = image_index | plus: 1 %}
  {% endfor %}
</div>

<div class="gallery-column gallery-column-landscape column-full">
  {% assign image_index = 0 %}
  {% for image_path in page.images %}
    {% assign mod2 = image_index | modulo: 2 %}
    {% if mod2 == 1 %}

      <div class="photo-container photo-container-landscape photo-container-left">
        <img class="photo photo-landscape" src="/images/full/{{ image_path }}" onclick="openModal({{ image_index }}, 'myLandscapeModal')" />
      </div>

    {% endif %}
    {% assign image_index = image_index | plus: 1 %}
  {% endfor %}
</div>

<div class="gallery-column gallery-column-landscape column-thumb">
  {% assign image_index = 0 %}
  {% for image_path in page.images %}
    {% assign mod2 = image_index | modulo: 2 %}
    {% if mod2 == 0 %}

      <div class="photo-container photo-container-landscape photo-container-left">
        <img class="photo photo-landscape" src="/images/thumb/{{ image_path }}" onclick="openModal({{ image_index }}, 'myLandscapeModal')" />
      </div>

    {% endif %}
    {% assign image_index = image_index | plus: 1 %}
  {% endfor %}
</div>

<div class="gallery-column gallery-column-landscape column-thumb">
  {% assign image_index = 0 %}
  {% for image_path in page.images %}
    {% assign mod2 = image_index | modulo: 2 %}
    {% if mod2 == 1 %}

      <div class="photo-container photo-container-landscape photo-container-left">
        <img class="photo photo-landscape" src="/images/thumb/{{ image_path }}" onclick="openModal({{ image_index }}, 'myLandscapeModal')" />
      </div>

    {% endif %}
    {% assign image_index = image_index | plus: 1 %}
  {% endfor %}
</div>
