<div id="myPortfolioModal" class="modal" onclick="closeModal('myPortfolioModal')">
  <a class="close cursor icon close-button" onclick="closeModal('myPortfolioModal')"></a>
  <div class="modal-content">
    {% for image in site.data.portfolio %}
      {%- assign country_label = image.country | capitalize -%}
      {%- assign country_href = "/countries/" | append: image.country -%}
      {%- assign chapter_href = country_href | append: "#chapter-" | append: image.location -%}
      <div class="slide">
        <div class="image-modal-container center">
          {% include photo_caption.html place=image.place place_href=chapter_href country=country_label country_href=country_href dummy=true %}
          <img data-src="/images/full/{{ image.path }}" alt="{{ image.place }}, {{ country_label }}" decoding="async" onclick="ignore(event)">
          {% include photo_caption.html place=image.place place_href=chapter_href country=country_label country_href=country_href %}
        </div>
      </div>
    {% endfor %}

    <a class="prev icon fa-chevron-left" onclick="plusSlides(event, -1)"></a>
    <a class="next icon fa-chevron-right" onclick="plusSlides(event, 1)"></a>
  </div>
</div>
