<div id="landscapes-modal" class="modal" onclick="closeLandscapesModal()">
  <a class="close cursor icon close-button" onclick="closeLandscapesModal()"></a>
  <div class="modal-content">

    <div class="options-modal-container">
      <span class="title">Categories</span>
      <div class="options-container">
        {% for landscape in site.landscapes %}
          <a class="option-container tooltip" href="/landscapes/{{ landscape.namePath }}">
            <span class="landscape-logo emoji-logo icon">{{ landscape.emoji }}</span>
            <span class="title">{{ landscape.title | capitalize}}</span>
            <span class="tooltiptext">{{ landscape.title | capitalize}}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
