<div id="myModal" class="modal" onclick="closePortfolioModal('myModal')">
  <a class="close cursor icon fa fa-times" onclick="closePortfolioModal('myModal')"></a>
  <div class="modal-content">

    {% assign image_files = site.data.portfolio %}
    {% for image in image_files %}
      <div class="slide" onclick="closePortfolioModal('myModal')">
        <img src="/images/full/{{ image.path }}" onclick="ignore(event)" class="center">
      </div>
    {% endfor %}

    <a class="prev icon fa-chevron-left" onclick="plusSlides(event, -1)"></a>
    <a class="next icon fa-chevron-right" onclick="plusSlides(event, 1)"></a>
  </div>
</div>
