@font-face {
  font-family: "patuaOne";
  src: url("../fonts/PatuaOne.ttf");
}

@font-face {
  font-family: "satisfy";
  src: url("../fonts/Satisfy.ttf");
}

@font-face {
  font-family: "pacifico";
  src: url("../fonts/Pacifico.ttf");
}

@font-face {
  font-family: "marker";
  src: url("../fonts/PermanentMarker.ttf");
}

@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'MrsEaves';
  src: url('../fonts/MrsEaves.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

