/* The Modal (background) */
.modal {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000c0;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: calc(100% - 80px);
}

.map-modal-content {
  border: 3px solid white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 26px -5px #000;
}

/* The Close Button */
.close {
  color: #fefefe;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  opacity: 1;
  transition: 0.3s ease;
  z-index: 1;
}

.close:hover,
.close:focus,
.prev:hover,
.next:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.75;
  text-decoration: none;
}

/* Hide the slides by default */
.slide {
  display: none;
  height: 100%;
  width: 100%;

  img {
    border-radius: 3px;
    border: 3px solid white;
    box-shadow: 0px 0px 26px -5px #000;
    max-height: calc(100vh - 80px);
    object-fit: contain;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 16px;
  margin-top: -50px;
  color: #fefefe;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 1;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: #333;
}

.blurred {
  filter: blur(5px);
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .modal {
    .next, .prev, .close {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 850px) {
  .modal {
    .next, .prev, .close {
      font-size: 35px;
    }

    .prev, .next {
      bottom: 0;
      top: initial;
    }
  }
}
