body {
  width: 100%;
  background: var(--white);
}

.location-page {
  flex-grow: 1;
  z-index: 1;
  flex-grow: 1;
  padding: calc(var(--header-height) + var(--header-label-height)) 5px 28px 5px;
}

.location {
  text-align: center;
}

.gallery-body {
  background: var(--white);
  display: flex;
  flex-direction: row;
  width: initial;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
}

.gallery-body-country {
  display: block;
  margin: 8px 4px 0 4px;
}

.links-container {
  display: inline-flex;
  vertical-align: text-bottom;
}

.country-link {
  display: inline-flex;
}

.country-flag {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  cursor: pointer;
  margin-top: 5px;

  &:hover {
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}

.country-flag-container {
  display: inline-flex;
  position: relative;
}

.header-img-container {
  position: relative;
  display: flex;
  min-width: 245px;
  max-width: 300px;

  .header-img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .header-label {
    font-family: 'poppins';
    font-size: 36px;
    text-align: left;
    color: var(--black);
    background: var(--white);
    width: min-content;
    min-width: 225px;
    position: fixed;
    top: var(--header-height);
    padding-left: 10px;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;

    .page-title {
      display: inline-block;
      width: 100%;
      line-height: 40px;
    }

    a {
      color: var(--black);
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
    }

    .location-link {
      font-size: 25px;
      display: flex;
      line-height: 25px;

      &:hover {
        text-decoration: none;
        margin-left: 5px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

      .location-link-text {
        font-size: 14px;
        margin-left: 5px;
        line-height: 28px;
        text-transform: capitalize;
      }
    }

    .map-icon {
      font-size: 30px;
      cursor: pointer;
      display: inline-flex;
      height: 43px;

      &:hover {
        text-decoration: none;
        color: #d95040;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    }

    &.hide {
      top: 0;
    }
  }

  .dummy-header-background {
    width: 100%;
    height: 20px;
    position: absolute;
    background: var(--white);
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    top: calc(var(--header-height) - 10px);

    &.hide {
      top: 0px;
    }
  }
}

.header-img-container-inside {
  opacity: 0;
}

.header-img-container-outside {
  z-index: 3;
  position: fixed;
}

.portfolio-wrapper, .gallery-page-wrapper-landscape {
  padding: var(--header-height) 3px 28px 3px;
}

.gallery-container {
  display: inline-grid;
  grid-template-columns: 33.3% 33.4% 33.3%;
  width: 100%;
}

.portfolio-grid {
  grid-template-columns: 25% 25% 25% 25%;
}

.gallery-column {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;

  .photo-container:first-child {
    margin-top: 0;
  }
}

.two-column-grid, .three-column-grid.portfolio-grid {
  display: none;
}

.photo-container {
  background: var(--white);
  border-radius: 2px;
  margin: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;

  .placeholder {
    filter: blur(10px);
    position: relative;
    transform: scale(1);
    width: 100%;
    z-index: 1;
  }

  .picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: opacity 1s linear;
    z-index: 2;
  }

  .picture.loaded {
    opacity: 1;
    box-shadow: 0px 0px 6px -2px #000;
  }

  .image-container {
    -webkit-transition: .4s ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    object-fit: cover;
    transition: .4s ease-in-out;
    overflow: hidden;

    &:hover {
      opacity: 0.85;
    }
  }
}

.photo {
  -webkit-transition: .1s ease-in;
  border-radius: 2px;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
}

.photo-blur {
  filter: blur(5px);
}

.photo-final {
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.photo-final-loaded:hover {
  -webkit-transition: .1s ease-in-out;
  opacity: 0.85;
  transition: .1s ease-in-out;
}

.photo-invisible {
  opacity: 0;
  pointer-events: none;
}

.gallery-body-landscape {
  flex-direction: column;

  .landscape-page {
    padding: 80px 5px 0 5px;
  }

  .photo-container-landscape {
    margin: 4px;
  }

  .photo-container-landscape:first-child {
    margin-top: 0;
  }
}

.worldmap-layout {
  padding: 72px 0px 28px 0px;
}

#blurable.nighttime {
  background: var(--black);

  .gallery-body {
    background: var(--black);
  }

  .dummy-header-background {
    background: var(--black);
  }

  .header-label {
    color: var(--white);

    a {
      color: var(--white);
    }
  }

  .header-img-container-outside {
    .header-label {
      background: var(--black);
      color: var(--white);
    }
  }

  .photo-container {
    background: var(--black);
  }
}

@media screen and (max-width: 1280px) {
  .gallery-body {
    .worldmap-layout {
      padding: 74px 0px 28px 0px;
    }
  }

  .header-img-container-outside {
    min-width: 195px;
    max-width: 250px;

    .header-label {
      font-size: 32px;
      min-width: 175px;

      .location-link {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .gallery-container {
    grid-template-columns: 50% 50%;
  }

  .three-column-grid, .four-column-grid {
    display: none;
  }

  .three-column-grid.portfolio-grid {
    grid-template-columns: 33.3% 33.4% 33.3%;
    display: initial;
  }

  .two-column-grid, .three-column-grid.portfolio-grid {
    display: grid;
  }
}

@media screen and (max-width: 850px) {
  .three-column-grid, .four-column-grid, .three-column-grid.portfolio-grid {
    display: none;
  }

  .two-column-grid {
    display: grid;
  }

  .header-img-container-outside {
    .header-label {
      width: 100%;
      background: var(--white);
      z-index: 3;
      padding: 0 10px 5px 10px;
      .page-title {
        font-size: 28px;
      }

      .map-icon {
        margin-left: 3px;
        font-size: 26px;
        height: 38px;
      }

      .country-flag {
        width: 25px;
        height: 25px;
        margin-top: 8px;
      }

      font-size: 26px;

      .location-link {
        font-size: 22px;
      }

      &.hide {
        padding-top: 5px;
      }
    }
  }

  .header-img-container {
    max-width: inherit;
    width: 100%;
  }

  .gallery-body {
    flex-direction: column;

    .worldmap-layout {
      padding: 113px 0px 28px 0px;
    }

    .portfolio-wrapper, .gallery-page-wrapper-landscape {
      padding-left: 4px;
      padding-right: 4px;
    }

    .photo-container {
      margin: 5px;
    }

    .photo-container:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .header-img-container-outside {
    .header-label {
      font-size: 23px;

      .location-link {
        font-size: 20px;
      }
    }
  }

  .gallery-body {
    .portfolio-wrapper, .gallery-page-wrapper-landscape {
      padding-left: 2.5px;
      padding-right: 2.5px;
    }

    .worldmap-layout {
      padding: 102px 0px 28px 0px;
    }

    .photo-container {
      margin: 2.5px;
    }
  }

  .gallery-body-country {
    display: block;
    margin: 5px 2.5px 0 2.5px;
  }

  .gallery-body-landscape {
    flex-direction: column;

    .landscape-page {
      padding: 23px 2.5px 0 2.5px;
    }
  }
}

