.default.page-content {
  background-color: #333;
}

.cities-title {
  color: white;
  display: block;
  font-family: "satisfy", sans-serif;
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}

.cities-index {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;

  .city {
    background: black;
    justify-self: center;
    overflow: hidden;
    position: relative;
    width: 89%;
  }

  img {
    -webkit-transition: .3s ease-in-out;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
    transition: .3s ease-in-out;

    &:hover {
      opacity: 0.5;
      transform: scale(1.15);
    }
  }

  .title {
    color: white;
    position: absolute;
    font-family: "satisfy", sans-serif;
    font-size: 36px;
  }
}