/* The Modal (background) */
.modal {
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: #000000c0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

/* Modal Content */
.modal-content {
  width: 100%;
  height: 100%;
}

.map-modal-content {
  border-radius: 3px;
  border: 3px solid white;
  box-shadow: 0px 0px 26px -5px #000;
  height: calc(100% - 120px);
  left: 50%;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 50px);
}

/* The Close Button */
.close {
  color: #fefefe;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  opacity: 1;
  transition: 0.3s ease;
  z-index: 1;
}

.close:hover,
.close:focus,
.prev:hover,
.next:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.75;
  text-decoration: none;
}

/* Hide the slides by default */
.slide {
  display: none;
  height: 100%;
  width: 100%;

  img {
    border-radius: 3px;
    border: 3px solid white;
    box-shadow: 0px 0px 26px -5px #000;
    max-height: calc(100vh - 80px);
    max-width: 85%;
    object-fit: contain;
  }
}

/* Next & previous buttons */
.prev,
.next {
  -webkit-user-select: none;
  border-radius: 0 3px 3px 0;
  color: #fefefe;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: -50px;
  opacity: 1;
  padding: 0 16px;
  position: absolute;
  top: 50%;
  transition: 0.3s ease;
  user-select: none;
  width: auto;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10px;
}

/* Caption text */
.caption-container {
  background-color: black;
  color: #333;
  padding: 2px 16px;
  text-align: center;
}

.blurred {
  filter: blur(4px);
}

.active,
.demo:hover {
  opacity: 1;
}

#myPortfolioModal, #myLandscapeModal {
  .image-modal-container {
    align-items: flex-end;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: relative;

    img {
      border-radius: 3px;
      border: 3px solid white;
      box-shadow: 0px 0px 26px -5px #000;
      max-height: calc(100vh - 80px);
      max-width: 85%;
      object-fit: contain;
    }

    .modal-text-container {
      height: 60px;
      opacity: 0.85;
      padding-left: 7px;
      pointer-events: none;
      position: relative;
      text-align: left;
      transition: .3s ease-in-out;
      z-index: 3;
    }

    .modal-text-container-dummy {
      opacity: 0;
    }
  }
}

#countries-modal, #landscapes-modal {
  .options-modal-container {
    -webkit-transition: .3s ease-in-out;
    background: var(--white);
    border-radius: 5px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;

    .title {
      border-radius: 5px 5px 0 0;
      display: block;
      font-family: 'poppins';
      font-size: 22px;
      padding: 5px 0;
      text-align: center;
    }

    .options-container {
      border-radius: 0 0 5px 5px;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      max-height: 330px;
      overflow: auto;
      padding-bottom: 10px;

      .option-container {
        align-items: center;
        color: var(--black);
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        position: relative;
        text-align: center;
        text-decoration: none;

        .title {
          display: none;
        }

        .country-flag, .landscape-logo {
          -webkit-transition: .3s ease-in-out;
          border-radius: 50%;
          border: 1px solid #999999;
          margin: 0;
          padding: 10px;
          transition: .3s ease-in-out;
        }

        .tooltiptext {
          top: 58px;
          left: 41px;
        }

        .landscape-logo {
          width: 22px;
        }

        .emoji-logo, .country-flag {
          font-size: 26px;
          height: 40px;
          width: 40px;
        }

        &:hover .country-flag, &:hover .landscape-logo  {
          opacity: 1;
        }

        span {
          font-size: 14px;
        }
      }

      .option-container:nth-child(4n) .tooltiptext {
        left: initial;
        right: 36px;

        &:after {
          right: 10px;
          left: initial;
        }
      }
    }
  }

  &.nighttime {
    .options-modal-container {
      background: var(--black);
    }

    .options-container, .title {
      background: var(--black);
      color: var(--white);

      .option-container {
        color: var(--white);

        .country-flag {
          border: 1px solid #999999;
        }
      }
    }
  }
}

#countries-modal, #landscapes-modal {
  .options-modal-container {
    .options-container {
      .option-container {
        .tooltiptext {
          top: 65px;
        }
      }
    }
  }
}

body.nighttime {
  #nft-modal {
    background: #00000036;
  }
}

#nft-modal {
  .modal-content {
    position: fixed;
  }

  .cube {
    pointer-events: none;

    &.animation-done {
      pointer-events: initial;
    }
  }
}

@media screen and (max-width: 1280px) {
  .modal {
    .next, .prev, .close {
      font-size: 28px;
    }
  }

  #myPortfolioModal {
    .image-modal-container {
      align-items: center;
      flex-direction: column;

      img {
        max-height: calc(90vh - 80px);
      }

      .modal-text-container-dummy {
        display: none;
      }

      .modal-text-container {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .modal {
    .next, .prev, .close {
      font-size: 32px;
    }

    .prev, .next {
      bottom: 5px;
      top: initial;
    }

    .slide img {
      max-height: calc(90vh - 80px);
    }
  }

  .slide {
    img {
      max-width: 90%;
    }
  }

  .map-modal-content {
    height: calc(100% - 150px);
  }

  #countries-modal, #landscapes-modal {
    .options-modal-container {
      .options-container {
        grid-template-columns: 33.3% 33.3% 33.3%;
        height: 245px;

        .option-container {
          padding: 5px 15px;

          .emoji-logo, .country-flag {
            font-size: 20px;
            height: 30px;
            padding: 5px;
            width: 30px;
          }

          .tooltiptext {
            display: none;
          }

          .title {
            display: initial;
          }
        }

        .option-container:nth-child(4n) .tooltiptext {
          left: 41px;
          right: initial;

          &:after {
            left: 10px;
            right: initial;
          }
        }

        .option-container:nth-child(3n) .tooltiptext {
          left: initial;
          right: 36px;

          &:after {
            left: initial;
            right: 10px;
          }
        }
      }
    }
  }
}
