.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Tooltip text */
.tooltip .tooltiptext {
  background-color: #333;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  left: 13px;
  line-height: 20px;
  opacity: 0;
  padding: 3px 5px;
  position: absolute;
  text-align: center;
  top: 40px;
  transition: opacity 0.3s;
  visibility: hidden;
  width: max-content;
  z-index: 1;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  border-width: 5px;
  left: 10px;
  margin-left: -5px;
  position: absolute;
  top: -9px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  opacity: 0.75;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%;
  border: 5px solid #fff;
  box-sizing: border-box;
  display: block;
  height: 64px;
  margin: 8px;
  position: absolute;
  width: 64px;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 850px) {
  .lds-ring div {
    width: 45px;
    height: 45px;
    margin: 17px;
    border-width: 4px;
  }

  .tooltip .tooltiptext {
    top: 37px;
    left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .lds-ring div {
    width: 30px;
    height: 30px;
    margin: 25px;
    border-width: 3px;
  }

  .tooltip .tooltiptext {
    top: 38px;
    left: 9px;
  }
}
