.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-auto-rows: min-content;
  margin: 0 3vw;
  padding: calc(var(--header-height) + 30px) 0 28px 0;

  .item-container {
    position: relative;

    .item-cover {
      width: 100%;
      max-height: 400px;
      aspect-ratio: 1 / 0.6;
      object-position: center;
      object-fit: cover;
    }

    .item-flag {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: 10px;
      left: 10px;
      opacity: 0.8;
      margin: 0;
      opacity: 0;
    }

    .title {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 62px;
      font-family: "oswald";
      font-weight: 300;
      letter-spacing: 10px;
      opacity: 0.8;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.2;

      &:hover {
        background-color: #1f222450;
        opacity: 0.85;

        .item-flag {
          opacity: 0.85;
        }
      }

      span {
        border: 5px solid white;
        padding: 0 6px;
        width: min-content;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    grid-template-columns: 100%;
    margin: 0 4vw;
    grid-row-gap: 4vw;

    .item-container {
      .item-flag {
        opacity: 0.65;
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .item-container {
      .title {
        background-color: #1f222450;
        font-size: 38px;
        letter-spacing: 6px;
        opacity: 0.65;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    .item-container {
      .title {
        font-size: 68px;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    .item-container {
      .title {
        font-size: 48px;

        span {
          border: 4px solid white;
        }
      }
    }
  }
}
