:root {
  --main-width: 200px;
  --main-height: 250px;
  --side-height: 40px;
  --side-height-half: var(--side-height) / 2;
  --shadow-color: #939393;
}

.nft-body {
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  overscroll-behavior-y: contain; // prevent refresh
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;

  #blurable {
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.nighttime {
  --shadow-color: #090a0a;
}

.nft-page {
  .nft-title {
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 100;
    text-align: center;
  }

  .nft-container {
    position: relative;
    // display: grid;
    // grid-template-columns: 70% 30%;

    .options {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #nft-image-container {
    // border: 1px dotted var(--black)73;
    // margin: 10px;
    border-radius: 5px;
    display: inline-block;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

.cube {
  // box-shadow: -3vw 2.5vw 2vw rgba(0, 0, 0, .3);
  display: inline-block;
  height: var(--main-height);
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg) translate(-50%, -50%);
  width: var(--main-width);
}

.cube .face {
  align-items: center;
  backface-visibility: hidden;
  background-size: cover !important;
  background: var(--black) url(/images/full/bled/01_IMG_2855.jpg);
  box-shadow: 0px 0px 1px var(--black);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transition: all 0.75s ease;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.cube .face:nth-child(1) {
  background-position: top;
  transform: rotateX(90deg) translateZ(calc(var(--side-height-half))) translateY(calc(var(--side-height-half))) scaleY(-1);
}

.cube .face:nth-child(2) {
  transform: translateZ(var(--side-height));
}

.cube .face:nth-child(3) {
  background-position: right;
  transform: rotateY(90deg) translateZ(calc(var(--main-width) - var(--side-height-half))) translateX(calc(-1 * var(--side-height-half))) scaleX(-1);
}

.cube .face:nth-child(4) {
  transform: rotateY(180deg) translateZ(var(--side-height));
}

.cube .face:nth-child(5) {
  background-position: left;
  transform: rotateY(-90deg) translateZ(calc(var(--side-height-half))) translateX(calc(var(--side-height-half))) scaleX(-1);
}

.cube .face:nth-child(6) {
  background-position: bottom;
  transform: rotateX(-90deg) rotate(180deg) translateZ(calc(var(--main-height) - var(--side-height-half))) translateY(calc(var(--side-height-half))) scaleX(-1);
}

.cube .face:nth-child(1), .cube .face:nth-child(3), .cube .face:nth-child(5), .cube .face:nth-child(6) {
  filter: brightness(60%);
  height: var(--main-height);
  width: var(--side-height);
}

.cube .face:nth-child(1), .cube .face:nth-child(6) {
  height: var(--side-height);
  width: 100%;
}

.cube:after {
  bottom: 0;
  content: "";
  display: block;
  height: 70px;
  position: absolute;
  top: 110%;
  left: 50%;
  transition: all 0.75s ease;
  width: 9%; /* Add a 10th of the width you want (scaled up later) */


  /* Transform: rotateX to create depth, scale to 10x to make left/right more blurry than top/bottom */
  -moz-transform: rotateX(80deg) scale(10, .75);
  -ms-transform: rotateX(80deg) scale(10, .75);
  -o-transform: rotateX(80deg) scale(10, .75);
  -webkit-transform: rotateX(80deg) scale(10, .75);
  transform: rotateX(80deg) scale(10, .75);

  /* Apply shadow & background */
  -moz-box-shadow: 0 0 20px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color);
  -ms-box-shadow: 0 0 20px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color);
  -o-box-shadow: 0 0 20px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color);
  -webkit-box-shadow: 0 0 20px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color);
  background: var(--shadow-color);
  box-shadow: 0 0 20px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 10px var(--shadow-color), 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color), 0 0 25px var(--shadow-color);

  /* Change opacity of entire element to tint shadow */
  -moz-opacity:.65;
  filter:alpha(opacity=65);
  opacity:.65;
}

.cube.flat-front:after {
  height: 50px;
  left: 0%;
  top: 80%;
  transform: rotateX(0deg) scale(10, 4);
  width: 7%;
}

// .sparkler-light {
//   position: absolute;
//   width: var(--main-width);
//   height: var(--main-height);
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: sparkler-light-anim 20s infinite;

//   &::after {
//     content: '';
//     border-radius: 50%;
//     width: 6rem;
//     height: 6rem;
//     position: absolute;
//     left: 35%;
//     top: 35%;
//     background-color: transparent;
//     box-shadow: 0px 0px 130px 85px var(--black);
//     animation: sparkler-light-pulsating 2s infinite linear;
//   }
// }

// .spark {
//   top: 50%;
//   left: 50%;
//   position: absolute;
//   transform: rotate(var(--spark-rotate));
// }

// .spark::after {
//   content: '';
//   display: block;
//   position: absolute;
//   bottom: 0;
//   width: 2px;
//   height: 135px;
//   border-radius: 0.1rem;
//   opacity: 0;
//   background-color: var(--black)94;
//   transform-origin: bottom center;
//   animation: sparkler-sparkle 0.5s infinite linear;
//   animation-delay: var(--spark-delay);
// }

// @keyframes sparkler-light-anim {
//   0%   {
//     bottom: 11.5rem
//   }
//   100% {
//     bottom: 1.5rem;
//   }
// }

// @keyframes sparkler-light-pulsating {
//   0%   {
//     transform: scale(1);
//   }
//   25%   {
//     transform: scale(1.1);
//   }
//   75%   {
//     transform: scale(0.9);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes sparkler-sparkle {
//   0%   {
//     transform: translateY(-0.5rem) scaleY(0.25);
//     opacity: 0;
//   }
//   10%   {
//     transform: translateY(-1rem) scaleY(0.5);
//     opacity: 0.35;
//   }
//   30%   {
//     transform: translateY(-2rem) scaleY(0.5);
//     opacity: 0.7;
//   }
//   50% {
//     transform: translateY(-4rem) scaleY(1.5);
//     opacity: 0.7;
//   }
//   51% {
//     opacity: 0;
//     transform: translateY(-4rem) scaleY(1);
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(0) scaleY(0.25);
//   }
// }

.flat-front {
  transform: rotate(-30deg) skew(25deg) scale(0.8) translate(-50%, -50%) !important;
  transition: all 0.75s ease;
}

.flat-side-height {
  height: 0px !important;
}

.flat-side-width {
  width: 0px !important;
}

.flat-hide {
  opacity: 0 !important;
}

.animate {
  transition: all 0.75s ease;
}

.nft-flat-container img {
  position: absolute;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.nft-flat-container.active.expand img:nth-child(10) {
  opacity: 1;
  transform: translate(160px, -160px);
}

.nft-flat-container.active.expand img:nth-child(9) {
  opacity: 0.8;
  transform: translate(120px, -120px);
}

.nft-flat-container.active.expand img:nth-child(8) {
  opacity: 0.6;
  transform: translate(80px, -80px);
}

.nft-flat-container.active.expand img:nth-child(7) {
  opacity: 0.4;
  transform: translate(40px, -40px);
}


#blurable.nighttime {
  .nft-cimage-ontainer {
    // border: 1px dotted var(--white)b0;
  }

  .spark::after {
    background-color: var(--white)b0;
  }

  .sparkler-light::after {
    box-shadow: 0px 0px 100px 40px var(--white);
  }

}

.spark-hidden .spark{
  display: none !important;
}

.hidden-after::after {
  display: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

@media screen and (max-width: 850px) {
  :root {
    --main-width: 200px;
    --main-height: 250px;
  }
}
