.portfolio-gallery {
  width: 100%;

  .grid-container {
    display: inline-grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;

    .gallery-column {
      display: inline-flex;
      flex-direction: column;
      vertical-align: middle;

      .photo-container {
        box-shadow: none;
        height: 450px;
        margin: 10px auto;
        overflow: initial;
        width: 85%;

        .image-container-landscape {
          .placeholder-container .placeholder, .picture.loaded {
            width: 100%;
            height: initial;
          }
        }

        .picture, .placeholder {
          height: initial;
          width: initial;
          max-height: 330px;
          align-self: center;
        }

        .photo {
          height: 100%;
          background: #f9f9f9;
          overflow: initial;
        }

        .placeholder-container {
          display: flex;
          height: 100%;
          max-height: 330px;

          .placeholder {
            height: 100%;
            margin: 0 auto;
          }
        }

        .photo-title {
          bottom: 15px;
          color: #333;
          font-family: Mrseaves;
          position: absolute;
          text-align: center;
          width: 100%;
        }

        .photo-place {
          bottom: 0;
          font-size: 12px;
        }
      }
    }

    .two-column-grid {
      display: none;
    }

    .one-column-grid {
      display: none;
    }
  }
}


@media screen and (max-width: 1150px) {
  .portfolio-gallery {
    .grid-container {
      grid-template-columns: 50% 50%;

      .three-column-grid {
        display: none;
      }

      .two-column-grid {
        display: inline-flex;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .portfolio-gallery {
    .grid-container {
      .gallery-column {
        .photo-container {
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .portfolio-gallery {
    .grid-container {
      grid-template-columns: 100%;

      .two-column-grid {
        display: none;
      }

      .one-column-grid {
        display: inline-flex;
      }
    }
  }
}
