:root {
  --header-height: 70px;
  --header-label-height: 0px;

  --white: #f9f9f9;

  --main-width: 200px;
  --main-height: 250px;
  --side-height: 40px;
  --side-height-half: var(--side-height) / 2;
  --shadow-color: #939393;
  --main-color: #7ca5c9;
  --background-dark: #0b0c0e;
}

@media screen and (max-width: 1280px) {
  :root {
    --header-height: 70px;
  }
}

@media screen and (max-width: 1150px) {
  :root {
  }
}

@media screen and (max-width: 850px) {
  :root {
    --header-height: 100px;
    --header-label-height: 101px;

    --main-width: 200px;
    --main-height: 250px;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --header-height: 98px;
  }
}
