<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body>

    {% if page.collection %}
        {% assign links = site[page.collection]  %}
    {% endif %}

    {% for link in links %}
      {% if link.title == page.title %}
        {% unless forloop.first %}
          {% assign prev = tmpprev %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = links[forloop.index] %}
        {% endunless %}
      {% endif %}
      {% assign tmpprev = link %}
    {% endfor %}

    <div class="header-img-container header-img-container-outside" id="header-img-container-outside">
      <div class="header-label" id="header-label">
        <span class="page-title">{{ page.title }}<a class="icon fa-map-marker-alt map-icon" onclick="openMapModal()"></a></span>
        {% if next %}<a href="{{ next.url }}" class="city-link">Next</a>{% endif %}
        {% if prev %}<a href="{{ prev.url }}" class="city-link">Previous</a>{% endif %}
      </div>
    </div>

    <div class="gallery-body" id="gallery-body">
      <div class="header-img-container header-img-container-inside">
        <div class="header-label" id="header-label">
          <span class="page-title">{{ page.title }}<a class="icon fa-map-marker-alt map-icon" onclick="openMapModal()"></a></span>
          {% if next %}<a href="{{ next.url }}" class="city-link">Next</a>{% endif %}
          {% if prev %}<a href="{{ prev.url }}" class="city-link">Previous</a>{% endif %}
        </div>
      </div>

      <section id="city-page" class="city-page">
        <main class="page-content" aria-label="Content">
          <div class="gallery-page-wrapper">
            <article class="city">
              <div class="gallery-container">
                {{ content }}

                {% include gallery.html %}
              </div>
            </article>
          </div>
        </main>
      </section>
    </div>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}
  {% include map_modal.html mapGoogle=page.mapGoogle %}

</html>
