<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body>

    {% if page.collection %}
        {% assign links = site[page.collection]  %}
    {% endif %}

    {% for link in links %}
      {% if link.title == page.title %}
        {% unless forloop.first %}
          {% assign prev = tmpprev %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = links[forloop.index] %}
        {% endunless %}
      {% endif %}
      {% assign tmpprev = link %}
    {% endfor %}

    <div class="gallery-body">
      <div class="header-img-container">
        <!-- <img class="header-img" style="object-position: 0 {{ page.position }}" src="/images/thumb/{{ page.headerImagePath }}"/> -->
        <div class="header-label">
          <span class="page-title">{{ page.title }}</span>
          <div class="map-img" onclick="openMapModal()">
            <!-- <img src="/images/maps/{{ page.mapPath }}.jpg" onMouseOver="this.style.transform='scale(4) translateY({{ page.mapPositionY }}%) translateX({{ page.mapPositionX }}%)'" onMouseOut="this.style.transform='scale(1) translateY(0) translateX(0)'"/> -->
            <img src="/images/maps/{{ page.mapPath }}.jpg"/>
          </div>
          {% if prev %}<a href="{{ prev.url }}" class="icon">Previous</a>{% endif %}
          {% if next %}<a href="{{ next.url }}" class="icon">Next</a>{% endif %}
        </div>
      </div>

      <section id="city-page" class="city-page">
        <main class="page-content" aria-label="Content">
          <div class="gallery-page-wrapper">
            <article class="city">
              <div class="gallery-container">
                {{ content }}

                {% include gallery.html %}
              </div>
            </article>
          </div>
        </main>
      </section>
    </div>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}
  {% include map_modal.html mapGoogle=page.mapGoogle %}

</html>
