<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body class="{% if page.style %}{{ page.style }}{% endif %}">
    <div id="blurable">
      <div class="gallery-body gallery-body-landscape" id="gallery-body">
        <div class="gallery-page-wrapper gallery-page-wrapper-landscape">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>

  {% include gallery_portfolio_modal.html %}
  {% include countries_modal.html %}
  {% include nft_modal.html %}
  {% include landscapes_modal.html %}

</html>
