<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body>
    <div id="blurable">
      {% if page.collection %}
          {% assign links = site[page.collection]  %}
      {% endif %}

      {% for link in links %}
        {% if link.title == page.title %}
          {% unless forloop.first %}
            {% assign prev = tmpprev %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = links[forloop.index] %}
          {% endunless %}
        {% endif %}
        {% assign tmpprev = link %}
      {% endfor %}

      <div class="gallery-body gallery-body-landscape" id="gallery-body">
        <div class="gallery-page-wrapper gallery-page-wrapper-landscape">
          {{ content }}

          {% include gallery_landscape.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>

  {% include gallery_landscape_modal.html %}
  {% include countries_modal.html %}
  {% include landscapes_modal.html %}
  {% include floating_circle_landscape.html %}
</html>
