<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}

  <body>
    <div id="blurable">

      {% assign country_locations = site.data.locations_per_country[page.country].locations %}
      {% for location in country_locations %}
        {% if location == page.namePath %}
          {% if forloop.first %}
            {% assign prev_index = country_locations.size | minus: 1 %}
          {% else %}
            {% assign prev_index = forloop.index0 | minus: 1 %}
          {% endif %}
          {% assign prev = country_locations[prev_index] %}
          {% if forloop.last %}
            {% assign next_index = 0 %}
          {% else %}
            {% assign next_index = forloop.index0 | plus: 1 %}
          {% endif %}
          {% assign next = country_locations[next_index] %}
        {% endif %}
      {% endfor %}

      <div class="header-img-container header-img-container-outside" id="header-img-container-outside">
        <div class="dummy-header-background"></div>
        <div class="header-label" id="header-label">
          <span class="page-title">{{ page.title }}
            <div class="links-container">
              <a class="icon fa-map-marker-alt map-icon" onclick="openMapModal()"></a>
              <a class="country-link" href="/countries/{{ page.country }}">
                <div class="tooltip country-flag-container">
                  <img src="/images/flags/{{ page.country }}.png" class="country-flag">
                  <span class="tooltiptext">{{ page.country | capitalize }}</span>
                </div>
              </a>
            </div>
          </span>
          <a href="/locations/{{ next }}" class="location-link">
            <span>Next</span>
            <span class="location-link-text">({{ next | replace: '_', ' ' }})</span>
          </a>
            <a href="/locations/{{ prev }}" class="location-link">
              <span>Previous</span>
              <span class="location-link-text">({{ prev | replace: '_', ' ' }})</span>
            </a>
        </div>
      </div>

      <div class="gallery-body" id="gallery-body">
        <div class="header-img-container header-img-container-inside">
          <div class="header-label" id="header-label">
            <span class="page-title">{{ page.title }}
              <a class="icon fa-map-marker-alt map-icon" onclick="openMapModal()"></a>
              <a class="country-link" href="/countries/{{ page.country }}">
                <div class="tooltip country-flag-container">
                  <img src="/images/flags/{{ page.country }}.png" class="country-flag">
                  <span class="tooltiptext">{{ page.country | capitalize }}</span>
                </div>
              </a>
            </span>
            <a href="/locations/{{ next }}" class="location-link">
              <span>Next</span>
              <span class="location-link-text">({{ next | replace: '_', ' ' }})</span>
            </a>
            <a href="/locations/{{ prev }}" class="location-link">
              <span>Previous</span>
              <span class="location-link-text">({{ prev | replace: '_', ' ' }})</span>
            </a>
          </div>
        </div>

        <section id="location-page" class="location-page">
          <div class="gallery-page-wrapper">
            <article class="location">
              {{ content }}

              {% include gallery.html %}
            </article>
          </div>
        </section>
      </div>
    </div>

    {% include footer.html %}
  </body>

  {% include gallery_modal.html %}
  {% include map_modal.html mapGoogle=page.mapGoogle %}
  {% include countries_modal.html %}
  {% include landscapes_modal.html %}

</html>
